@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Global Styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: var(--text-color);
	background-color: var(--background-color);
}

/* Light Theme */
:root {
	--background-color: #ffffff;
	--secundary-background-color: #fcfaf8;
	--surface-color: #f4f4f4;
	--text-color: #202020;
	--primary-color: #db4c3f; /* Todoist Red */
	--accent-color: #fbd38d; /* Light Yellow */
	--border-color: #e0e0e0;
	--hover-color: #ffefe5;
	--hover-color-link: #f2efed;
	--active-color: #ffefe5;
	--priority-1: #e44332;
	--priority-2: #eb8909;
	--priority-3: #246fe0;
	--priority-4: #f1f1f1;
}

/* Dark Theme */
.dark-theme {
	--background-color: #1e1e1e;
	--secundary-background-color: #252525;
	--surface-color: #2c2c2c;
	--text-color: #f4f4f4;
	--primary-color: #db4c3f;
	--accent-color: #fbd38d;
	--border-color: #3a3a3a;
	--hover-color: #2a2a2a;
	--hover-color-link: #2f2f2f;
	--active-color: #333333;
	--priority-1: #e44332;
	--priority-2: #eb8909;
	--priority-3: #246fe0;
	--priority-4: #f1f1f1;
}

/* Utility Classes */
.hidden {
	display: none;
}

.visible {
	display: block;
}

.project-card {
	border: 1px solid #ddd;
	padding: 8px;
	margin-bottom: 12px;
	border-radius: 4px;
}
.project-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.user-list img {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	margin-right: 4px;
}
.task-list {
	list-style: none;
	padding-left: 0;
	margin: 8px 0;
}
.task-item {
	display: flex;
	justify-content: space-between;
}
.task-form {
	display: flex;
	gap: 4px;
}
.delete-task {
	background-color: transparent;
	border: none;
	color: var(--text-color);
	cursor: pointer;
}

.avatar-img {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	object-fit: cover;
	margin-left: 32px;
}
